.root {
    -fx-primary: #fff372;
    -fx-secondary: #373740;
    -fx-background-color: -fx-secondary;
}

.button {
    -fx-background-color: -fx-primary;
}

.slider {
    -fx-tick-label-fill: -fx-primary;
}