.Key {
    -fx-background-color: #2b3340;
}

.Key Text {
    -fx-fill: white;
}

.selected .Key {
    -fx-background-color: #45b9f7;
}

Line {
    -fx-stroke: #2b3340;
}

.selected Line {
    -fx-stroke: #45b9f7;
}